# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results
/playwright-report
/playwright/.cache

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright
/tests/e2e/.auth
/tests/e2e/data/auth.json
playwright-report/
test-results/
